@model IEnumerable<FlareonWeb.Models.Movie>

@{
    ViewData["Title"] = "MovieIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>MovieIndex</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieBackgroundImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoviePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieBackgroundImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoviePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.CinemaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
